body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* contenedor de las tarjetas */
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

/* Tarjetas */
.card{
    background: white;
    padding: 20px;
    width: 210px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 12px rgba(0,0,0,0.15)
}

/* imagen amigo */
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}